name: modularity_flutter
description: Flutter integration for Modularity framework.
version: 0.1.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  modularity_core:
    path: ../core

dev_dependencies:
  flutter_test:
    sdk: flutter
